<nav class="bg-white shadow-md">
    <div class="container mx-auto flex justify-between items-center p-4">
      <div class="flex items-center">
        <img src="https://assets.bookmebus.com/assets/affiliate_landing/car-e5c283641a0a9fd089e105ff20a592b6.png" alt="Company Logo" class="h-10 mr-2" />
        <span class="text-2xl font-bold text-blue-600">Event Booking</span>
      </div>
      <div class="flex items-center space-x-4">
        <a routerLink="/" class="text-gray-700 hover:text-blue-600">Dashboard</a>
        <a routerLink="/events" class="text-gray-700 hover:text-blue-600">Tickets</a>
        <a routerLink="/create-event" class="text-grey-700 hover:underline">Create Event</a>
        <a routerLink="/login" class="text-gray-700 hover:text-blue-600">Login</a>
        <a routerLink="/signup" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Sign Up</a>
      </div>
    </div>
  </nav>
  

  
